.pageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eae7dc;
}

.loginContainer {
  background: #f2f2f2;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginTitle {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-bottom: unset;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 2px;
}

.loginForm {
  padding-top: 20px;
  border: 1px solid black;
}

.formFields {
  padding-bottom: 5px;
}

.submitButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 90%;
  max-width: 300px;
}
